.header {
  background-color: #070c1f;
  border-bottom: 1px solid rgb(131, 116, 116);
  height: 52px;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  input {
    outline: none;
    border: none;
    padding: 4px 8px;
    background-color: #10193f;
    width: 30vw;
    border-radius: 12px;
    color: #fff;
  }
  .input {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  .fa-search {
    color: #fff;
    margin-left: -30px;
  }
  .fa-bars {
    color: #fff;
  }
}

.header-second {
  transition: all 0.3s linear;

  overflow: hidden;
  white-space: nowrap;
  position: fixed;
  left: 0;
  top: 52px;
  bottom: 0;
  background-color: #070c1f;
  width: 184px;
  border-right: 1px solid #c5bb83;
  .item-header {
    padding-top: 2px;
  }
  i {
    padding-top: 3px;
  }

  .end-second {
    position: absolute;
    bottom: 20px;
    color: #fff;
  }
  .hover:hover {
    background-color: #10193f;
  }
}

.header-second.active {
  width: 69px;
}

.oulet {
  right: 69px;
}

.header-three {
  background-color: #070c1f;
  border-bottom: 1px #848b207a solid;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.findTheBook {
  position: fixed;
  background: #070c1f;
  z-index: 9;
  left: 35vw;
  width: 30vw;
  overflow-y: scroll;
  max-height: 30vh;
  color: #fff;
  padding-left: 10px;
  box-shadow: 5px 7px 8px #ededed;
}

.findTheBook::-webkit-scrollbar {
  background-color: rgba(182, 185, 32, 0.294);
  width: 6px;
  border-radius: 4px;
}

.findTheBook::-webkit-scrollbar-thumb {
  background-color: #34e000;
  border-radius: 4px;
}

.find-image {
  max-width: 150px;
  height: 112px;
  margin: 12px;
  object-fit: contain;
}

.searchForMobile {
  position: fixed;
  min-height: 100vh;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(3, 3, 3, 0.5);
}

.input-mobile {
  outline: none;
  border: none;
  padding: 4px 8px;
  background-color: #2a245a;
  border-radius: 12px;
  color: #fff;
  height: 40px;
}

.displayItemMobile {
  z-index: 99999999;
  overflow-y: scroll;
  max-height: 70vh;
  background-color: #070c1f;
}
