.click:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.click {
  transition: 0.5s all linear;
}

.click:active {
  transform: translateY(3px);
}

.boder {
  border: solid 1px rgba(14, 238, 14, 0.863);
  border-radius: 4px;
  padding: 2px 8px;
}

body {
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.App {
  overflow: hidden;
}

.Link {
  color: #fff;
  text-decoration: none;
}

.Link:hover {
  color: #fff;
}

.Link:active {
  color: #fff;
}
